        <!-- PARCOURS -->
        <section id="parcours" class="py-20">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
                <div class="text-center">
                    <img src="assets/images/parcours_1.jpg" class="w-3/4 mx-auto rounded-full shadow-2xl" alt="Photo de Kalala">
                </div>
                <div>
                    <h2 class="text-4xl font-bold mb-6">Mon Parcours</h2>
                    <p class="mb-4">Kalala Soul est un groupe aux sonorités soul, R&B et acoustiques, porté par une énergie sincère et une sensibilité brute. Sur scène, le trio mêle compositions originales et réinterprétations inspirées, avec une intensité qui ne laisse jamais le public indifférent. Chaque performance est une invitation au voyage, où la musique touche, rassemble et émeut.</p>
                    <p>Le groupe se compose de Kalala, chanteuse autodidacte à la voix profonde et envoûtante, Koffi, guitariste à l’univers riche et expressif, et Romuald, bassiste au groove chaleureux et organique. Ensemble, ils créent une alchimie authentique, où chaque note sert un propos sincère.</p>
                </div>
            </div>
        </section>
